apiVersion: v1
kind: Secret
type: Opaque
metadata:
  name: cluster-identity-secret-static
  namespace: {{ .Namespace }}
  labels:
    clusterctl.cluster.x-k8s.io/move: true
Data:
  clientSecret: {{ .ClientSecret }}
