apiVersion: v1
kind: Secret
metadata:
  name: github-giantswarm-https-credentials
  namespace: flux-giantswarm
Data:
  password: {{ .Token }}
  url: https://github.com/giantswarm
  username: taylorbotgit
